body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
#calculator {
    font-family: sans-serif;
    background-color: rgb(28, 28, 28);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display {
    width: 100%;
    padding-top: 50px;
    font-size: 20rem;
    text-align: right;
    border: none;
    background-color: rgb(28, 28, 28);
}
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 55px;
    padding-top: 5%;
    
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: rgb(80, 80, 80);
    color: white;
    font-size: 2.8rem;
    font-weight: 100;
    cursor: pointer;
}
button:hover {
    background-color: rgb(126, 126, 126);
}
button:active {
    background-color: rgb(126, 126, 126)
}

.orange-btn {
    background-color: rgb(255, 149, 0);
}
.orange-btn:hover {
    background-color: white;
    color: rgb(255, 149, 0); ;
}
.grey-btn {
    background-color: rgb(183, 183, 180);
    color: rgb(41, 41, 41); ;
}
.grey-btn:hover {
    background-color: rgb(237, 237, 235);
    color: rgb(41, 41, 41); ;
}

.zero-btn {
    border-radius: 50px;
    grid-column: 1 / span 2;
    padding-right: 120px;
    width: 220px;
}


